    body {
    font-family: serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFB6C1;

.image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.image-item {
    text-align: center;
    margin: 0 30px;
}

.image-gallery img {
    width: 350px;
    height: 280px;
    margin: 0 38px;
    object-fit: cover;
}

.image-gallery img:hover {
    transform: scale(1.05); 
    border: 3px solid #ff69b4;
}

.image-gallery img:focus, .image-gallery img:active {
    outline: 3px solid #ff69b4; 
    transform: scale(1.05); 
}

.image-item p {
    margin-top: 10px;
    font-size: 20px;
    color: #000;
}

.image-item p:hover {
    color: #8b0000; 
}

a {
    color: #ff69b4; 
    text-decoration: none;
}

a:hover {
    color: #8b0000; 
}

a:focus, a:active {
    color: #4b0082; 
}   
